// #################### COLORS ################ //

$black : #0D0D0D;
$white : #f2f2f2;
$yellow: #F2CC0F;
$green : #3CBF3F;
$purple:#9453A6;

::selection{
    background-color: $purple;
    color: $green;
}
*:active,:any-link,::after{
    text-decoration: none;
    color: $purple;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: 'Roboto',sans-serif !important;
    .bg-img{
        background-color: rgb(228, 228, 228);
    
      
        
    }
   
 
    
}


