section.faq{
    .top-faq{
        height: 40vh;
        background-image: url('/image/pexels-alleksana-6781783.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        h1{
            color: $white;
            font-weight: 900;
            font-size: 5rem;
            font-family: 'henny penny';
            width: 70%;
            letter-spacing: 2px;
            margin: 0 auto;

        }
        
    }
    .pro-faq{
        padding: 4rem;
        .container{
            width: 70%;
            @media (max-width:768px){
                width: 100%;
            }
            text-align: justify;
            p{
                line-height: 1.5;
                margin-bottom: 2rem;
                font-size: 1.4rem;
            }
            .line{
                border-bottom: 1px solid rgb(163, 162, 162);
                width: 100%;
            }
        }
        
    }
    .main-faq{
        padding: 4rem;
        .container{
            width: 70%;
            @media (max-width:768px){
                width: 100%;
            }
            .accordion-item{
                margin-bottom: 2rem;
            }
            .accordion-button{
                color: $black;
               padding: 1rem;
                font-size: 2.4rem;
                letter-spacing: 1.4px;
                font-weight: 700;
                font-family: 'pattaya';
                @media (min-width:300px){
                    font-size: 1.6rem;
                }
                @media (min-width:678px){
                    font-size: 2rem;
                }
                @media (min-width:960px){
                    font-size: 2.2rem;
                }
                &::after{
                    background-image: url('/image/chat-dots.svg');
                    background-size: 2rem;
                    background-position: center;
                    height: 4.25rem;
                    width: 3.5rem;
                    
                }
                &:not(.collapsed){
                    color: $black;
                    background-color: $purple;
                    background-color: transparent;
                    border: none;
                    &::after{
                        transform: scale(1.2) rotate(180deg);
                    }
                }
                &:focus{
                    border-color: $green;
                    border-radius: 3px;
                    box-shadow: 0 0 0 0.25rem $green;
                    &:not(:focus-visible){
                        outline: none;
                    }
                }
                
            }
        }
    }
    .accordion-body{
        width: 70%;
        margin: 0 auto;
        font-size: 1.6rem;
    }
}